/* Global Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

/* Header & Footer */
header, footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1, footer p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

nav ul li {
    display: inline;
    margin-right: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Verhindert unnötigen Leerraum unter dem Bild */
    margin: 0 auto; /* Zentriert das Bild horizontal im Container */
}


/* Main Content */
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Contact Section */
.contact {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #555;
}
